.navbar{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    z-index: 1000;
}
.navbar .logo{
    width: 150px;
}
.navbar .nav-menu{
    display: flex;
    gap: 20px;
    list-style: none;
    color: #49557e;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.navbar .nav-menu .active{
    color: #49557e;
    border-bottom: 2px solid #49557e;
}
.navbar .nav-menu .nav-item{
    cursor: pointer;
    
}
.nav-item .nav-link{
    text-decoration: none;
   color: inherit;
}

.navbar .navbar-right{
    display: flex;
    align-items: center;
    gap: 30px;
} 
.navbar .search-bar{
    display: flex;
    align-items: center;
    border: 2px solid #49557e;
    padding: 5px;
}
.navbar .search-bar input{
    outline: none;
    border: none;
}
.navbar .search-bar img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.navbar .basket-icon img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.basket-icon .cart-basket{
    color: inherit;
    text-decoration: none;
}